h1 {
    padding-top: 5vh;
}
#sequenceLines {
    padding-left: 10vw;
    padding-right: 10vw;
    cursor: pointer;
    word-wrap: break-word;
    text-transform: capitalize;
    color: #3b092f;
    font-weight: bold;
}
#sequenceLines:hover {
    color: #5e5c07;
}
span {
    padding-left: 10vw;
    color: rgb(52, 20, 94);
    font-weight: bolder;
}
#utils {
    padding-right: 10vw;
    float: right;
    background-color: rgb(124, 228, 228);
}
#utils {
    font-family: Tahoma; 
    text-shadow: #cccccc;
}
#utils textarea {
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; 
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none; 
    height: 35vh; 
    width: 25vw; 
    color: #2c2727; 
    font-size: 1.5em; 
    font-family: Tahoma; 
 }