header {
  color: rgb(124, 124, 207);
  font-size: 150%;
  text-align: center;
  text-transform: capitalize;
}

.grid-container {
  display: grid;
  margin-top: 5%;
  margin-left: 5%;
  grid-column-gap: 5%;
}

.grid-item {
  grid-row: 1;
}

footer{
  text-align: center;
}

#routing-container {
  height: 73vw;
}