<div id="container">
  <div id="content">
      <header>
          <h1>{{ title }}</h1>
          <h2>Genetic. Intelligent. Friendly</h2>
      </header>
      <div class="grid-container">
          <a href="dnasequences" class="grid-item">
            DNA
          </a>
          <a href="rnasequences" class="grid-item">
            RNA
          </a>
          <a href="proteinsequences" class="grid-item">
            Proteins
          </a>
      </div>
  
      <div id="routing-container">
        <router-outlet></router-outlet>
      </div>

    <footer>Maksym Zhyrov, 2018 &copy;</footer>
  </div>
</div>