<div id="container">
  <div id="content">
      <header>
          <h1> <a href="">{{ title }} </a> </h1>
          <h2>Genetic. Intelligent. Friendly</h2>
      </header>
      
      <div id="backend-connection-info-failed" *ngIf="!connection">
        Can't establish connection to the server!
      </div>
    
      <div class="grid-container">
          <a href="dnasequences" class="grid-item">
            DNA
          </a>
          <a href="rnasequences" class="grid-item">
            RNA
          </a>
          <a href="proteinsequences" class="grid-item">
            Proteins
          </a>
      </div>
  
      <div id="routing-container">
        <router-outlet></router-outlet>
      </div>

    <footer><br><span> Maksym Zhyrov, 2018-2019 &copy;</span></footer>
  </div>
</div>