<h1>Learn more about Genetics!</h1>

  <ul>
    <li>
      <a href="https://learn.genetics.utah.edu" target="_blank">Learn Genetics!</a>
    </li>
    <li>
      <a href="https://geneed.nlm.nih.gov" target="_blank">Genetics. Education. Discovery.</a>
    </li>
    <li>
      <a href="http://www.genetics.org" target="_blank">Genetics.org</a>
    </li>
    <li>
      <a href="http://www.bioinformatics.org" target="_blank">Bioinformatics.org</a>
    </li>
    <li>
      <a href="http://www.genetics.edu.au" target="_blank">Health - Genetics Education</a>
    </li>
    <li>
      <a href="https://www.omim.org" target="_blank">Online Mendelian Inheritance in Man</a>
    </li>
    <li>
      <a href="https://www.nature.com/ng/" target="_blank">Nature Genetics</a>
    </li>
    <li>
      <a href="https://www.dnalc.org" target="_blank">DNA Learning Center</a>
    </li>
  </ul>
  <img src="assets/drosophila.png"/>