ul {
    border: 2px solid black;
    border-radius: 16px;
    padding-right: 5px;
    background-color: rgb(238, 225, 225);
    color: rgb(34, 21, 51);
    float: left;
    list-style-type: none;
    font-size: 1.5em;
}
#log-form {
    float: left;
}
img {
    float: right;
}
