  <h1>DNASequences</h1>

  <ul>
    <a *ngFor="let dnasequence of dnasequences$" [routerLink]="[dnasequence.id]">
      {{ dnasequence.description }}
    </a>
  </ul>

  <div id="utils">
    INPUT SEQUENCE:<br>
    <textarea ng-model="sequence" placeholder="Enter your sequence...">
    </textarea>
    <br>
    <button>
        <i class="material-icons">sentiment_very_satisfied</i>
    </button>
     FILTER
     <br>
     <button>
        <i class="material-icons">create</i>
    </button>
     RANDOM
     <br>
     <button>
        <i class="material-icons">view_agenda</i>
    </button>
     COMPLEMENT
     <br>
     <button>
        <i class="material-icons">search</i>
    </button>
     MEASURE
     <br>
     <button>
        <i class="material-icons">trending_up</i>
    </button>
     MUTATE
  </div>