  <h1>DNASequences</h1>

  <ul>
    <a *ngFor="let dnasequence of dnasequences$" [routerLink]="[dnasequence.id]">
      {{ dnasequence.description }}
      <br>
    </a>
  </ul>

  <div id="utils">
    INPUT SEQUENCE:<br>
    <textarea 
    id="seqArea" #sequenceArea placeholder="Enter your sequence..." [(ngModel)]="sequence.sequence"></textarea>
    <span id="processingInfo" *ngIf="isProcessing">
      Processing...
    </span>
    <br>
    <button (click)="filter(sequenceArea.value)">
        <i class="material-icons">sentiment_very_satisfied</i>
    </button>
     FILTER
     <br>
     <button (click)="transcript(sequenceArea.value)">
        <i class="material-icons">arrow_right_alt</i>
    </button>
     TRANSCRIPT (=> mRNA)
     <br>
     <button (click)="translate(sequenceArea.value)">
        <i class="material-icons">keyboard_arrow_right</i>
    </button>
      TRANSLATE (=> Proteins)
      <br>
      <button (click)="random(randomSeqLength.value)">
        <i class="material-icons">create</i>
    </button>
     RANDOM
     <input type="number" value="50" min="1" max="200000" #randomSeqLength/> bases
     <br>
     <button (click)="complement(sequenceArea.value)">
        <i class="material-icons">view_agenda</i>
    </button>
     COMPLEMENT
     <br>
     <button (click)="measure(sequenceArea.value)">
        <i class="material-icons">search</i>
    </button>
     MEASURE
     AT: <input type="number" [(ngModel)]="percentages.first" readonly/> %  
     CG: <input type="number" [(ngModel)]="percentages.second" readonly/> %
     <br>
     <button (click)="mutate(sequenceArea.value, mutationPercents.value)">
        <i class="material-icons">trending_up</i>
    </button>
     MUTATE
     <input type="number" value="2" min="1" max="10" #mutationPercents/> %
     <br>
     <button (click)="search(sequenceArea.value)">
        <i class="material-icons">waves</i>
     </button>
     SEARCH SIMILAR (minimum 4 bases sequence needed)
     <button (click)="getAll()">
      <i class="material-icons">cached</i>
     </button>
     ALL
  </div>